.App {
  border: solid 0.25rem black;
  border-radius: 0.25rem;
  background-color: #e5e5e5;
  width: 80vw;
  height: 24rem;
}

@media screen and (min-width: 768px) {
  .App {
    width: 40rem;
  }
}

#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.drum-container {
  margin: 0.5rem;
  padding: 0.15rem;
  width: 60%;
  height: 19rem;
  display: flex;
  justify-content: center;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  height: 2rem;
  width: 60%;
  border: solid 1px blue;
  border-radius: 0.25rem;
  background-color: white;
}